#Data Types and Structures Practical Q&A

1. Write a code to create a string with your name and print it.

In [1]:
print("suraj singh rawat")

suraj singh rawat

2. Write a code to find the length of the string "Hello World".

In [2]:
len("Hello Word")

10

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [71]:
a="Python Programming"
print(a[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [3]:
"hello".upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [4]:
str=("I like apple")
str.replace("apple","orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [5]:
print(list(range(1,6)))

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [6]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [7]:
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [8]:
list= ['a', 'b', 'c', 'd']
print(list[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [9]:
list=[10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [10]:
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [11]:
tuple=('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
tuple=(10,20,5,15)
min(tuple)

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [74]:
animals= ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [27]:
tuple=("banana","appple","kiwi")
if "kiwi"in tuple:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is in the tuple

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [29]:
set={"a","b","c"}
print(set)

{'c', 'a', 'b'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [33]:
set={1,2,3,4,5}
set.clear()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [37]:
set =  {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [35]:
set1={1,2,3}
set2={3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [38]:
set1={1,2,3}
set2={2,3,4}
set1.intersection(set2)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [39]:
dict={
    "name":"suraj",
    "age":25,
    "city":"pauri garhwal"
}
print(dict)

{'name': 'suraj', 'age': 25, 'city': 'pauri garhwal'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [44]:
dict= {'name': 'John', 'age': 25}
dict["country"]="USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [45]:
 dictionary= {'name': 'Alice', 'age': 30}
 print(dictionary['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [47]:
dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dictionary['age']
print(dictionary)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [76]:
dictionary= {'name': 'Alice', 'city': 'Paris'}
if 'city' in dictionary:
    print("city is in the dictionary")
else:
    print("city is not in the dictionary")

city is in the dictionary

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [77]:
list=[1,2,3,4]
tuple=("cat","dog","banana")
dict={
    "name":"suraj",
    "age":25,
    "city":"pauri garhwal"
}
print(list)
print(tuple)
print(dict)

[1, 2, 3, 4]
('cat', 'dog', 'banana')
{'name': 'suraj', 'age': 25, 'city': 'pauri garhwal'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [51]:
list=[77,50,95,4]
list.sort()
print(list)

[4, 50, 77, 95]

In [54]:
list[3]=50
print(list)

[4, 50, 77, 50]

28. Write a code to create a list with strings and print the element at the third index.

In [2]:
list=[77,50,95,4]
print("element at index 3:",list[3])

element at index 3: 4

29.Write a code to combine two dictionaries into one and print the result

In [64]:
dict1={
    "name":"suraj",
    "age":25,
    "city":"pauri garhwal"
}
dict2={
    "a":"ajay",
    "b":26,
    "c":"Delhi"
}
combined_dict={**dict1,**dict2}
print(combined_dict)

{'name': 'suraj', 'age': 25, 'city': 'pauri garhwal', 'a': 'ajay', 'b': 26, 'c': 'Delhi'}

30. Write a code to convert a list of strings into a set.

In [1]:
fruits=['apple','mango','banana']
fruit_set=set(fruits)
print(fruit_set)

{'mango', 'banana', 'apple'}